<h1>Welcome Client User!</h1>
<p>Checkout all the businesses and what they have to offer!</p>
<div class="row">
  <div class="col-md-8">
  <% @businesses.each do |b| %>
  <h2 align="center"><%= b.name %></h2>
  <small><div align="center"><%= link_to "Book an event with #{b.name}", {:controller => "bookings", :action => "new", :buser => b.id } %></div></small>
  <table class="table table-bordered" align="center">
    <tr class="info">
      <td> Product Name </td>
      <td> Price </td>
    </tr>
  <% b.products.each do |p| %>
    <tr>
      <td> <%= link_to p.name, product_path(p) %> </td>
      <td> <%= p.price %> </td>
    </tr>
  <% end %>
  </table>
  <br>
  <% end %>
  </div>
  <div class="col-md-4">
  <h3>Your Bookings(still unconfirmed by your provider)</h3>
  <table class="table table-bordered" align="center">
    <tr class="info">
      <td> Booking Info! </td>
    </tr>
  <% @bookings.each do |b| %>
    <tr>
      <td> <%= b.name %> </td>
    </tr>
  <% end %>
  </table>
  <br>
  <h3>Confirmed bookings(Go pay for these!)</h3>
  <table class="table table-bordered" align="center">
    <tr class="info">
      <td> Booking Info! </td>
    </tr>
  <% @confbookings.each do |b| %>
    <tr>
      <td> <%= b.name %> </td>
    </tr>
  <% end %>
  </table>
  <br>
  <% if @allbookings.length > 0 %>
  <h3>Cancel a booking!</h3>
  <%= form_for @message do |m| %>
      <%= m.collection_select :booking_id, @allbookings, :id, :name %>
      <%= m.label :info %>
      <%= m.text_field :info, class: 'form-control', placeholder: "Your reason for canceling" %>
      <%= m.submit "Cancel Booking!", class: 'btn btn-success' , data: { confirm: "Are you sure? This action cannot be undone. This booking will be permanently destroyed! "} %>
  <% end %>
  <br>
  <% end %>
  <h3>Your bookings that have been canceled!</h3>
  <table class="table table-bordered" align="center">
    <tr class="info">
      <td> Booking </td>
      <td> Info </td>
      <td> Canceled At </td>
      <td> Canceled By </td>
      <td> Clear this message </td>
    </tr>
  <% @messages.each do |m| %>
    <tr>
      <td><%= m.name %></td>
      <td><%= m.info %></td>
      <td><%= m.ctime %></td>
      <td><%= User.find( m.user_id ).name %></td>
      <td><%= button_to "Delete", [m] , :method => :delete , data: { confirm: "Are you sure? This action cannot be undone. "} %></td>
    </tr>
  <% end %>
  </table>  

  </div>
</div>

